.navbar {
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    width: 95%;
    z-index: 999;
}  

.active {
    opacity: 0;
}
  

.fa-github, .fa-linkedin {
    color: #fff;
    transform: scale(2.5);
    transition: linear 0.2s;
  }
  .fa-github:hover, .fa-linkedin:hover {
    color: #18dcff;
    transform: scale(2.7);
  }
  .activegit{
      display: none;
  }
  .activelinkedin {
      display: none;
  }

.list {
    list-style-type: none;
    background-color: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
}
.items {
    margin-right: 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.navbar img {
    width: 35px;
}
.all_links {
    width: 450px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
    /* display: none; */
}
.all_links a:hover {
    color: #eb1e1e;
}
.all_links a {
    text-decoration: none;
    color: #fff;
}
.burger {
    border: none;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
}
.burger span {
    height: 4px;
    width: 40px;
    background-color: #fff;
}
.nom {
    color: #ff0000;
}
#title {
    color: #fff;
}
.right {
    width: 200px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 2560px){
    .list {
        flex-direction: column;
        height: auto;
        top: 70px;
        /* left: 42.2%; */
        position: absolute;
        right: 20px;
        z-index: 999;
        width: 20%;
        margin: 0 0px;
        background-color: rgba(17, 235, 243, 0.1);
        backdrop-filter: blur(5px);
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        /* margin-top: 50px; */
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .burger {
        display: flex;
    }
}

@media only screen and (max-width: 900px){
    .list {
        width: 30%;
    }
    .items {
        font-size: 15px;
    }
}
@media only screen and (max-width: 580px){
    #title {
        visibility: hidden;
    }
    .list {
        width: 50%;
    }
    .items {
        font-size: 15px;
    }
}
@media only screen and (max-width: 330px){
    .list {
        width: 70%;
    }
    .items {
        font-size: 15px;
    }
}
