.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    width: 97%;
    position: absolute;
}
.navbar img {
    width: 35px;
}
.all_links {
    width: 450px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
    /* display: none; */
}
#test {
    display: none;
}
.active {
    display: flex;
}
.all_links a:hover {
    color: #eb1e1e;
}
.all_links a {
    text-decoration: none;
    color: #fff;
}
.burger {
    border: none;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
}
.burger span {
    height: 4px;
    width: 40px;
    background-color: #fff;
}
.nom {
    color: #00E0FF;
}
#title {
    color: #fff;
}
.right {
    width: 200px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}