.portfolio {
    background-color: #3B7380;
    height: 100vh;
}

#portfolioh1 {
    display: flex;
    justify-content: center;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    font-size: 2.5rem;
    color: #fff;
}
.global_portfolio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.card_portfolio {
    width: 500px;
    height: 400px;
    background-color: #fff;
}
.card_text {
    height: 300px;
}
.card_text img {
    width: 500px;
}
.card_body {
    height: 100px;
    padding: 10px;
    background-color: #fff;
}
.card_body h3 {
    margin-bottom: 10px;
}



@media only screen and (max-width: 1300px){
    .card_portfolio {
        width: 400px;
        height: 300px;
    }
    .card_text img {
        width: 400px;
    }
    .card_text {
        height: 200px;
    }
    .card_body p {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 870px){
    .card_portfolio {
        width: 300px;
        height: 200px;
    }
    .card_text img {
        width: 300px;
    }
    .card_text {
        height: 150px;
    }
    .card_body p {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 768px) {
    .portfolio {
        height: 700px;
    }
}
@media only screen and (max-width: 745px){
    .global_portfolio {
        flex-direction: column;
        width: 100%;
        height: 80%;
    }
    .card_portfolio {
        width: 200px;
        height: 100px;
    }
    .card_text img {
        width: 200px;
    }
    .card_text {
        height: 100px;
    }
    .card_body p {
        font-size: 0.6rem;
    }
    .card_body h3 {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px){
    #portfolioh1 {
        font-size: 2rem;
    }
}